.tlui-layout__top {
  width: 100% !important;
  justify-content: space-between !important;
}

.tlui-menu-zone {
    width: 345.6px !important;
}

.tlui-toolbar-container.tlui-buttons__horizontal{
    width: 184px !important;
}

.tlui-button.tlui-button__icon, .tlui-button.tlui-button__icon.tlui-navigation-panel__toggle{
    width: 40px !important;
}

.tlui-popover{
    width: 128px !important;
}

.tlui-navigation-panel{
    width: 96px !important;
}


.Memberimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}