.listbox {
    border-top: 1px solid #E9EAF3; 
    display: flex;
    justify-content: space-between;
    color: #555F7E;
}
.listitemnone {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 50px;
  width: 120px;
}
.listitem {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 50px;
  width: 120px;
}

/* 텍스트 말줄임 */
.ellipsis {
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* tooltip */
.listitem::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #E9EAF3;
  color: #3B82F6;
  padding: 10px 15px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 10;
}

.listitem::before {
  content: "";
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  border: 6px solid transparent;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 9;
}

.listitem:hover::after,
.listitem:hover::before {
  opacity: 1;
}
