.listbox {
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr;
    align-items: center;
    border-top: 1px solid #E9EAF3;
    color: #555F7E;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
}
.listitem{
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}