.wrapper{
    height: 95px;
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 35px 0;
}
.divider{
    width: 100%;
    border-top: 0.5px solid rgba(0,0,0,0.1);
    align-items: center;
    margin: auto;
}
.copyRight{
    display: flex;
    justify-content: center;
    color: #000929;
}
.social{
    gap: 40px;
    display: flex;
}